In [7]:
from validate_docbr import CPF, CNPJ
import pandas as pd

In [13]:
def validar_documento(documento):
    cpf = CPF()
    cnpj = CNPJ()

    documento = documento.replace(".", "").replace("-", "").replace("/", "")

    if len(documento) == 11 and cpf.validate(documento):
        return 'FISICA'
    elif len(documento) == 14 and cnpj.validate(documento):
        return 'JURIDICA'
    else:
        return "Documento inválido"

# Insira o nome da Planilha aqui

In [17]:
df1 = pd.read_excel('Exemplo base de informações.xlsx')
df1

,Codigo,Razão Social do Participante,Razão Social do Agente de Custódia,Documento do Participante,Razão Social do Investidor,Quantidade,Percentual,Quantidade Total,Tipo de Regime,Eventos Cursados
0,1,Uma ai,Uma ai,027.489.070-43,Uma ai,500,0.146628,3410,a,a
1,2,Outra por ai,Outra por ai,54.557.201/0001-13,Outra por ai,900,0.263930,3410,a,a
2,3,Não sei o nome,Não sei o nome,12.345.678/0001-00,Não sei o nome,500,0.146628,3410,a,a
3,4,Companhia de Tal,Companhia de Tal,123.456.789-01,Companhia de Tal,300,0.087977,3410,a,a
4,5,Mais outra,Mais outra,36.890.800-37,Mais outra,210,0.061584,3410,a,a
5,6,Essa é nova,Essa é nova,79.084.757/0001-60,Essa é nova,1000,0.293255,3410,a,a

In [20]:
df2 = pd.DataFrame()

# Transferindo os dados de df1 para df2 com base na lógica
df2['NOME'] = df1['Razão Social do Participante']
df2['TIPO_PESSOA'] = df1['Documento do Participante'].apply(validar_documento)
df2['CPF_CNPJ'] = df1['Documento do Participante']
df2['ON'] = df1['Quantidade']

# Adicionando uma coluna 'PN' vazia (caso necessário)
df2['PN'] = 0  # ou df1['PN'] se houver uma coluna correspondente no df1

In [23]:
df2

               NOME         TIPO_PESSOA            CPF_CNPJ    ON  PN
0            Uma ai              FISICA      027.489.070-43   500   0
1      Outra por ai            JURIDICA  54.557.201/0001-13   900   0
2    Não sei o nome  Documento inválido  12.345.678/0001-00   500   0
3  Companhia de Tal  Documento inválido      123.456.789-01   300   0
4        Mais outra  Documento inválido       36.890.800-37   210   0
5       Essa é nova            JURIDICA  79.084.757/0001-60  1000   0

In [22]:
df2.to_csv('base_votos.csv', index=False, sep=',')